body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #000000;
    background-image: url(https://github.com/jgorman4/Portfolio/blob/master/contourimage.jpg?raw=true);
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    animation: starsMovement 50s linear infinite;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    display: none;
    /* Add styling for the boxes as needed */
}


.wipe-in {
    animation: wipeIn 1s ease-in-out;
}

@keyframes wipeIn{
    0% {
        opacity: 0;
        transform: translateX(-20px);

    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes starsMovement {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

@keyframes twirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInDelay {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.container {
    display: flex;
    height: 95vh; /* Adjust the height as needed */
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: content-box;
    margin-left: 20px;
    overflow: auto;
    backdrop-filter: blur(3px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}

.left-container img {
   max-width: 60%;
   height: auto;
}

.image-border{
    border: 0.2vw solid white;
    max-width: 100%;
    height: auto;
}
.left-container h2 {
    padding-top: 0.5%;
    font-size: 2vw;
    display: flex;

}
.left-container p {
    display: flex;
}
.left-container p2 {
    position: relative;
    font-size: 1vw;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}
.left-container p3{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    position: relative;
    font-size: 1vw;
    scrollbar-width: thin;
    flex: 2 2 8rem;   
}

@media only screen and (max-width: 720px) {
    /* Adjust font sizes or other styles for smaller screens */
    .left-container p2, 
    .left-container p3 {
        font-size: 0.5vw; /* Adjust as needed */
    }
}


.social-menu {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu-icon,
.expanded-icons i {
    font-size: 1.3vw;
    color: #ffffff;
}

.expanded-icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 5%;
    z-index: 1;
    opacity: 0;
    left: 20px
}

.social-menu:hover .menu-icon {
    animation: twirl 1s ease-in-out;
}
.social-menu:hover .expanded-icons {
    animation: twirl 1s ease-in-out, fadeInDelay 1s ease-out forwards;
    opacity: 1;
    transform: scaleX(1) translateX(0);
}

.expanded-icons i {
    margin: 0 10px;
    animation: fadeInDelay 0.5s ease-out forwards;
}

.expanded-icons i:nth-child(2) {
    animation-delay: 0.1s;
}

.expanded-icons i:nth-child(3) {
    animation-delay: 0.2s;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-item {
    cursor: pointer;
    padding-right: 10%;
    font-size: 1vw;
    position: relative; /* Add relative positioning for pseudo-element */
}

/* Add styles for underlined effect on hover */
.nav-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1%;
    background-color: #fff; /* Set the underline color */
    bottom: 0;
    left: 0;
    transition: width 0.8s ease-in-out; /* Add transition for width */
}

.nav-item.selected::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1%;
    background-color: #fff;
    bottom: 0;
    left: 0;
}
.nav-item:hover::before {
    width: 79%; /* Expand the width on hover */
}


.intel-Text {
    text-decoration: underline;
    font-size: 1.2vw;
    font-weight: bold;
    color: #e9830e;
}
.skill-Text{
    text-decoration: underline;
    font-size: 1.2vw;
    font-weight: bold;
    color: #9b49ca;
}
.right-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7); 
    min-width: 60%;
    max-height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: content-box;
    backdrop-filter: blur(3px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}
/*------------------------------Education ---------------------------------------------*/
/* For WebKit browsers (Chrome, Safari) */
#education_box::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}
#education_box {
    overflow: auto;
    scrollbar-width: none;
}

#education_box h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2vw;
    text-decoration: underline;
    flex-direction: column;
}

#AngeloState {
    display: flex;
    padding: 2%;
}

#AngeloStateTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10%;
    font-size: 1vw;
}

#AngeloState img {
   max-width: 25%;
   height: auto;
   padding-left: 10%;
   
}
 #AngeloState p {
    flex-direction: flex;
    padding-left: 12%;
    font-size: 1.4vw;
    font-style: italic;
 }


 #ClemsonUni {
    display: flex;
    padding: 2%;
}


#ClemsonUni img {
    max-width: 25%;
    height: auto;
    padding-left: 4%; /* Align the image to the left */
}
 #ClemsonUni p {
    flex-direction: flex;
    padding-left: 12%;
    font-size: 1.4vw;
    font-style: italic;
 }
 #ClemsonUniTxt {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: right;
    padding-left: 10%;
    font-size: 1vw;
 }

 #NWMSU {
    display: flex;
    padding: 2%
}

#NWMSU img {
    width: 10%;
    height: auto;
    padding-left: 12%; /* Align the image to the left */
    
}

 #NWMSU p {
    flex-direction: flex;
    padding-left: 15%;
    font-size: 1.4vw;
    font-style: italic;
 }
 #nwmsuTxt {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: right;
    padding-left: 10%;
    font-size: 1vw;
 }

.main-content{
    padding: 20px;
    box-sizing: content-box;
}
.wrap-trigger {
    word-wrap: break-word;
}

/* For WebKit browsers (Chrome, Safari) */
.left-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

/*------------------------------Experience---------------------------------------------*/
#experience_box {
    scrollbar-width: none;
    overflow: auto;
    padding-left: 10%;
    padding-right: 5%;
    text-rendering: auto;
}

#experience_box h4 {
    text-align: center;
    font-size: 2vw;
    text-decoration: underline;
}


#TFS {
    display: flex;
    flex-direction: flex;
    padding-left: 2%;
    flex-direction: column;
}

#TFS h1 {
    font-size: 1.2vw;
}

#TFS p1{
    font-size: 0.8vw;
    padding-bottom: 1%;
}
#TFS p2 {
    font-size: 0.8vw;
    padding-bottom: 0.5%;
}

#TFS ul {
    font-size: 0.8vw;
    padding-left: 5%;
    list-style-type: disc;
}

#TFS li {
    font-size: 0.8vw;
    padding-bottom: 1%; /* Adjust spacing between list items */
}

#NRCS {
    display: flex;
    flex-direction: flex;
    padding-left: 2%;
    flex-direction: column;
}

#NRCS h1 {
    font-size: 1.2vw;
}

#NRCS p1 {
    font-size: 0.8vw;
    padding-bottom: 1%;
}

#NRCS p2 {
    font-size: 0.8vw;
    padding-bottom: 0.5%;
}

#NRCS ul {
    font-size: 0.8vw;
    padding-left: 5%;
    list-style-type: disc;
}

#NRCS li {
    font-size: 0.8vw;
    padding-bottom: 1%; /* Adjust spacing between list items */
}

#Army {
    display: flex;
    flex-direction: flex;
    padding-left: 2%;
    flex-direction: column;
    padding-bottom: 1%;
}

#Army h1 {
    font-size: 1.2vw;
}

#Army p1 {
    font-size: 0.8vw;
    padding-bottom: 1%;
}

#Army p2 {
    font-size: 0.8vw;
    padding-bottom: 0.5%;
}

#Army ul {
    font-size: 0.8vw;
    padding-left: 5%;
    list-style-type: disc;
}

#Army li {
    font-size: 0.8vw;
    padding-bottom: 1%; /* Adjust spacing between list items */
}