body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #000000;
    background-image: url(https://github.com/jgorman4/Portfolio/blob/master/contourimage.jpg?raw=true);
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    animation: starsMovement 50s linear infinite;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    display: none;
    /* Add styling for the boxes as needed */
}


.wipe-in {
    animation: wipeIn 1s ease-in-out;
}

@keyframes wipeIn{
    0% {
        opacity: 0;
        transform: translateX(-20px);

    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes starsMovement {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

@keyframes twirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInDelay {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.container {
    display: flex;
    height: 95vh; /* Adjust the height as needed */
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: content-box;
    margin-left: 20px;
    overflow: auto;
    backdrop-filter: blur(3px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}

.left-container img {
   max-width: 60%;
   height: auto;
}
.image-border{
    border: 2px solid white;
}
.left-container h2 {
    margin-top: 10;
    font-size: 2vw;
    display: flex;

}
.left-container p {
    display: flex;
}
.left-container p2 {
    font-size: 1vw;
    margin-left: 20px;
    margin-right: 20px;
}
.left-container p3{
    position: relative;
    font-size: 1vw;
    margin-top: 20px;
    margin-left: 20px;
    scrollbar-width: thin;
    flex: 2 2 8rem;   
}

@media only screen and (max-width: 720px) {
    /* Adjust font sizes or other styles for smaller screens */
    .left-container p2, 
    .left-container p3 {
        font-size: 0.5vw; /* Adjust as needed */
    }
}


.social-menu {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu-icon,
.expanded-icons i {
    font-size: 1.3vw;
    color: #ffffff;
}

.expanded-icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    left: 20px
}

.social-menu:hover .menu-icon {
    animation: twirl 1s ease-in-out;
}
.social-menu:hover .expanded-icons {
    animation: twirl 1s ease-in-out, fadeInDelay 1s ease-out forwards;
    opacity: 1;
    transform: scaleX(1) translateX(0);
}

.expanded-icons i {
    margin: 0 10px;
    animation: fadeInDelay 0.5s ease-out forwards;
}

.expanded-icons i:nth-child(2) {
    animation-delay: 0.1s;
}

.expanded-icons i:nth-child(3) {
    animation-delay: 0.2s;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-item {
    cursor: pointer;
    margin-right: 20px;
    font-size: 1vw;
    position: relative; /* Add relative positioning for pseudo-element */
}

/* Add styles for underlined effect on hover */
.nav-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff; /* Set the underline color */
    bottom: 0;
    left: 0;
    transition: width 0.8s ease-in-out; /* Add transition for width */
}

.nav-item.selected::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}
.nav-item:hover::before {
    width: 100%; /* Expand the width on hover */
}


.intel-Text {
    text-decoration: underline;
    font-size: 1.2vw;
    font-weight: bold;
    color: #e9830e;
}
.skill-Text{
    text-decoration: underline;
    font-size: 1.2vw;
    font-weight: bold;
    color: #9b49ca;
}
.right-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7); 
    min-width: 60%;
    max-height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: content-box;
    backdrop-filter: blur(3px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}

#education_box h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
    text-decoration: underline;
}

#AngeloState {
    display: flex;
}
#AngeloStateTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 60px;
    margin-top: 35px;
    font-size: 1.2em;
}
#AngeloState img {
    width: auto;
    max-width: 100%;
    max-height: auto;
    margin-left: 100px; /* Align the image to the left */
}
 #AngeloState p {
    flex-direction: flex;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 1.4em;
    font-style: italic;
 }




 #ClemsonUni {
    display: flex;
}

#ClemsonUni img {
    max-width: 25%;
    height: auto;
    margin-left: 50px; /* Align the image to the left */
    margin-top: 150px;
}
 #ClemsonUni p {
    flex-direction: flex;
    margin-top: 200px;
    margin-left: 30px;
    font-size: 1.4em;
    font-style: italic;
 }
 #ClemsonUniTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: right;
    margin-left: 150px;
    margin-top: 200px;
    font-size: 1.2em;;
 }

 #NWMSU {
    display: flex;
}

#NWMSU img {
    max-width: 10%;
    height: auto;
    margin-left: 80px; /* Align the image to the left */
    margin-top: 150px;
    
}

 #NWMSU p {
    flex-direction: flex;
    margin-top: 200px;
    margin-left: 150px;
    font-size: 1.4em;
    font-style: italic;
 }
 #nwmsuTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: right;
    margin-left: 30px;
    margin-top: 200px;
    font-size: 1.2em;
    margin-right: 30px;
 }

.main-content{
    padding: 20px;
    box-sizing: content-box;
}
.wrap-trigger {
    word-wrap: break-word;
}

/* For WebKit browsers (Chrome, Safari) */
.left-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}


#experience_box h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
    text-decoration: underline;
}


#TFS {
    display: flex;
    flex-direction: flex;
    margin-left: 30px;
    flex-direction: column;
}

#TFS h1 {
    font-size: 1.2em;
}

#TFS p1{
    margin-bottom: 5px;
}
#TFS p2 {
    margin-bottom: 10px;
}

#TFS ul {
    margin-left: 50px;
    list-style-type: disc;
}

#TFS li {
    margin-bottom: 5px; /* Adjust spacing between list items */
}

#NRCS {
    display: flex;
    flex-direction: flex;
    margin-left: 30px;
    flex-direction: column;
}

#NRCS h1 {
    font-size: 1.2em;
}

#NRCS p1{
    margin-bottom: 5px;
}
#NRCS p2 {
    margin-bottom: 10px;
}

#NRCS ul {
    margin-left: 50px;
    list-style-type: disc;
}

#NRCS li {
    margin-bottom: 5px; /* Adjust spacing between list items */
}

#Army {
    display: flex;
    flex-direction: flex;
    margin-left: 30px;
    flex-direction: column;
}

#Army h1 {
    font-size: 1.2em;
}

#Army p1{
    margin-bottom: 5px;
}
#Army p2 {
    margin-bottom: 10px;
}

#Army ul {
    margin-left: 50px;
    list-style-type: disc;
}

#Army li {
    margin-bottom: 5px; /* Adjust spacing between list items */
}